<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
  <head> 
    <%= erb :head %>
    <title>YARD - Guide: <%= @title || "Guides" %></title> 
    <script type="text/javascript" src="<%= root_path %>/js/highlight.pack.js"></script>
    <script type="text/javascript">
      hljs.initHighlightingOnLoad();
      $(generateTOC);
    </script>
  </head> 
  <body> 
    <%= erb :top %>
    <div class="light wrapper">
      <div id="content" class="guide">
        <div class="breadcrumb"><a href="<%= root_path %>/guides/index.html">Guides</a> &raquo;</div>
        <%= markdown @content %>
      </div> 
    </div>
    <%= erb :copyright %>
  </body> 
</html>
