<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
  <head> 
    <%= erb :head %>
    <title>YARD - Guides &amp; Resources</title> 
  </head> 
  <body> 
    <%= erb :top %>

    <div class="light wrapper">
      <div class="content guides">
        <img class="icon" src="<%= root_path %>/images/Library-folder-64.png" />
        <h1>Guides &amp; Resources</h1>
        <div class="column">
          <h2>Basic Guides</h2>
          <ul>
            <li><a href="/docs/yard/file/docs/GettingStarted.md">Getting Started</a></li>
            <li><a href="http://gnuu.org/2010/06/26/yard-object-oriented-diffing/">Using the <code>yard diff</code> Command</a></li>
            <li>More guides coming soon!</li>
          </ul>

          <h2>Extending YARD</h2>
          <ul>
            <li><a href="extending-yard/writing-handlers.html">Writing a Handler for Custom Ruby Syntax (DSL)</a></li>
            <li><a href="http://gnuu.org/2009/11/18/customizing-yard-templates/">Customizing Templates</a> (Blog)</li>
          </ul>
        </div>
        <div class="column">
          <h2>Technical Documentation</h2>
          <ul>
            <li><a href="/docs/yard">API Documentation</a></li>
            <li><a href="/docs/yard/file/docs/Overview.md">Architecture Overview</a></li>
          </ul>
          
          <h2>Miscellaneous Resources</h2>
          <ul>
            <li><a href="/docs/yard/file/README.md">The Readme</a></li>
            <li><a href="/docs/yard/file/docs/WhatsNew.md">What's New in Various Versions of YARD</a></li>
            <li><a href="/docs/yard/file/docs/Tags.md#List_of_Available_Tags">List of YARD Tags</a></li>
            <li><a href="<%= root_path %>/types.html">YARD Types Parser</a> - Live examples of YARD type declarations.</li>
            <li><a href="/docs/yard/file/LICENSE.md">License</a> and <a href="/docs/yard/file/LEGAL.md">Legal</a> information.</li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="midgray wrapper">
      <div class="content guides">
        <img class="icon" src="<%= root_path %>/images/Movie-folder-64.png" />
        <h1>Screencasts &amp; Presentations</h1>

        <div class="screencasts">
          <h2 class="nobottom">Documentation and the Whole Nine YARDs</h2>
          <p class="nomargin"><small>Presented at <a href="http://mwrc2010.confreaks.com">Mountain West Ruby Conf 2010</a> by <strong>Loren Segal</strong></small></p>
          <embed src='http://mwrc2010.confreaks.com/player.swf' height='380' width='640' allowscriptaccess='always' allowfullscreen='true' flashvars='file=http%3A%2F%2Fmwrc2010.confreaks.com%2Fvideos%2F2010-03-11-15-30-loren-segal-documentation-and-the-whole-nine-yards-small.mp4&image=images%2F2010-03-11-15-30-loren-segal-documentation-and-the-whole-nine-yards-preview.png&plugins=viral-1'/>
        </div>
      </div>
    </div>

    <%= erb :copyright %>
  </body> 
</html>

